@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.header, h1, h2, a{
    font-family: 'Raleway', sans-serif;
    font-weight: 400px, 700px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    width: 370px;
}

a {
    text-decoration: none;
}


/*Estilos del header*/ 

.header {
    height: 100px;
}

.logo-header {
    position: relative;
    top: 50px;
    left: 90px;    
}

.nav {
    position: relative;
    left: 950px;
    top: 5px;
}

.a-nav {
    margin-left: 50px;
    color: hsl(243, 87%, 12%);
}

/*estilos del main*/
.main-content{
    position: relative;
    top: 160px;
}
.main-1, .main-2{
    position: relative;
    left: 90px;
}

.main-2 {
    bottom: 100px;
}
.text-block{
    position: relative;
    text-align: left;
    font-size: 23px;
    width: 500px;
    
}
.titulo-1{
    line-height: 50px;
}
.titulo-2 {
    line-height: 50px;
    width: 600px;
}
.text{
    position: relative;
    font-size: 15px;
    top: -10px;
}

.curva {
    position: absolute;
    left: -189px;
    top: -150px;
    z-index: -1;
}
.imagen-ilustracion-1, .imagen-ilustracion-2{
    position: relative;
    width: 600px;
    left: 570px;
    top: -350px;
}

.imagen-ilustracion-2{
    top: -210px;
}

.boton-1{
    position: relative;
    color: white;
    background-color: hsl(224, 93%, 58%);
    width: 160px;
    height: 40px;
    left: 10px;
    border: none;
    border-radius: 3px;
}
.form-input{
    position: relative;
    height: 34px;
    width: 262px;
}