@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.header, h1, h2, a{
    font-family: 'Raleway', sans-serif;
    font-weight: 400px, 700px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
}

a {
    text-decoration: none;
}


/*Estilos del header*/ 

.header {
    height: 100px;
}

.logo-header {
    position: relative;
    top: 50px;
    left: 90px;    
}

.nav {
    position: relative;
    left: 950px;
    top: 5px;
}

.a-nav {
    margin-left: 50px;
    color: hsl(243, 87%, 12%);
}

/*estilos del main*/
.main-content{
    position: relative;
    top: 180px;
}
.main-1{
    position: relative;
    left: 90px;
}
.text-block{
    position: relative;
    text-align: left;
    font-size: 23px;
    width: 500px;
    
}
.titulo-1{
    line-height: 50px;
}
.text{
    position: relative;
    font-size: 15px;
    top: -10px;
}

.imagen{
    position: relative;
    width: 600px;
    left: 570px;
    top: -350px;
}

.boton-1{
    position: relative;
    color: white;
    background-color: hsl(224, 93%, 58%);
    width: 150px;
    height: 40px;
    left: 10px;
}
.form-input{
    position: relative;
    height: 34px;
    width: 280px;
}